<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Padraig's Petitions</title>

  <!-- Link to the external style sheet -->
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<header>
  <h1>Padraig's Petitions!</h1>
</header>

<main>
  <h2>Petition Pages</h2>
  <table>
    <tr>
      <td><a th:href="@{/petitions/create}">Start Petition</a></td>
    </tr>
    <tr>
      <td><a th:href="@{/petitions}">View Petitions</a></td>
    </tr>
    <tr>
      <td><a th:href="@{/search-petition}">Search Petition</a></td>
    </tr>
  </table>

  <button onclick="window.location.href='/petitions/create'">Start Petition</button>
</main>


</body>
</html>


