<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Petitions App</title>
</head>
<body>

<header>
  <h1>Welcome to My Petitions App!</h1>
</header>

<main>
  <!-- Add content specific to your landing page -->

  <!-- index.html -->
  <a th:href="@{/petitions/create}">Create a Petition</a>


</main>

<footer>
  <!-- Add footer content -->
</footer>

</body>
</html>
