<!-- src/main/resources/templates/petitions.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Petitions</title>
</head>
<body>

<h2>All Petitions</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr th:each="petition : ${petitions}">
        <td th:text="${petition.id}"></td>
        <td th:text="${petition.title}"></td>
        <td th:text="${petition.description}"></td>
    </tr>
</table>

</body>
</html>
